table {
	border-spacing: 0;
}

body {
	background-color: #aaa;
}

a {
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 20px;
	border: 1px solid black;
	border-radius: 2px;
	border-color: white;
	
}

.content-table td {
	width: 120px;
	border: solid 1px black;
}

.content-table td:nth-child(n+9) {
	border: none;
}

.header-table td {
	font-weight: bold;
}

.content-table-data td:last-child {
	border: none;
}



/* style for forms */

*:focus {
	outline: none;
}

input {
	display: block;
	margin-bottom: 10px;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.5);
}

.check {
	width: 30px;
}